/**
 * Primitives — 底层色板（自 design-tokens.json → primitives）
 */

:root {
  --color-blue-100: #DBEAFE;
  --color-blue-200: #BFDBFE;
  --color-blue-300: #93C5FD;
  --color-blue-400: #60A5FA;
  --color-blue-50: #EFF6FF;
  --color-blue-500: #3B82F6;
  --color-blue-600: #2563EB;
  --color-blue-700: #1D4ED8;
  --color-blue-800: #1E40AF;
  --color-blue-900: #1E3A8A;
  --color-blue-950: #172554;
  --color-brand-100: #DDD9FF;
  --color-brand-200: #BAB4FE;
  --color-brand-300: #988EFE;
  --color-brand-400: #7569FD;
  --color-brand-50: #F5F3FF;
  --color-brand-500: #5343FD;
  --color-brand-600: #4236CA;
  --color-brand-700: #322898;
  --color-brand-800: #211B65;
  --color-brand-900: #110D33;
  --color-brand-950: #080719;
  --color-bw-black: #000000;
  --color-bw-transparent: rgba(0, 0, 0, 0);
  --color-bw-white: #FFFFFF;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-50: #F9FAFB;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
  --color-green-100: #DCFCE7;
  --color-green-200: #BBF7D0;
  --color-green-300: #86EFAC;
  --color-green-400: #4ADE80;
  --color-green-50: #F0FDF4;
  --color-green-500: #22C55E;
  --color-green-600: #16A34A;
  --color-green-700: #15803D;
  --color-green-800: #166534;
  --color-green-900: #14532D;
  --color-green-950: #052E16;
  --color-orange-100: #FFEDD5;
  --color-orange-200: #FED7AA;
  --color-orange-300: #FDBA74;
  --color-orange-400: #FB923C;
  --color-orange-50: #FFF7ED;
  --color-orange-500: #F97316;
  --color-orange-600: #EA580C;
  --color-orange-700: #C2410C;
  --color-orange-800: #9A3412;
  --color-orange-900: #7C2D12;
  --color-orange-950: #431407;
  --color-rose-100: #FFE4E6;
  --color-rose-200: #FECDD3;
  --color-rose-300: #FDA4AF;
  --color-rose-400: #FB7185;
  --color-rose-50: #FFF1F2;
  --color-rose-500: #F43F5E;
  --color-rose-600: #E11D48;
  --color-rose-700: #BE123C;
  --color-rose-800: #9F1239;
  --color-rose-900: #881337;
  --color-rose-950: #4C0519;
  --color-teal-primary-100: #CCFFF9;
  --color-teal-primary-200: #99FFF4;
  --color-teal-primary-300: #66FFEE;
  --color-teal-primary-400: #33FFE9;
  --color-teal-primary-50: #F0FDFA;
  --color-teal-primary-500: #00FFE3;
  --color-teal-primary-600: #00CCB6;
  --color-teal-primary-700: #009988;
  --color-teal-primary-800: #00665B;
  --color-teal-primary-900: #00332D;
  --color-teal-primary-950: #001A17;
  --color-violet-100: #5D67B3;
  --color-violet-150: #333B80;
  --color-violet-200: #21275A;
  --color-violet-500: #14193F;
  --color-yellow-100: #FEF9C3;
  --color-yellow-200: #FEF08A;
  --color-yellow-300: #FDE047;
  --color-yellow-400: #FACC15;
  --color-yellow-50: #FEFCE8;
  --color-yellow-500: #EAB308;
  --color-yellow-600: #CA8A04;
  --color-yellow-700: #A16207;
  --color-yellow-800: #854D0E;
  --color-yellow-900: #713F12;
  --color-yellow-950: #422006;
}
